@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #323232;
}

img {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

body {
  height: 100%;
  background-color: #e4e4e4;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  color: #323232;
  font-weight: 400;
}

._container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
}

/* -------------- Стили для header ------------------------ */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header__container {
  max-width: 1400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
}

.header__logo a {
  display: block;
  text-align: right;
  font-size: 18px;
  line-height: 100%;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  z-index: 8;
}

.header__logo a:hover {
  color: #DE9C39;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list .menu__link a {
  margin: 15px 0 15px 30px;
  padding-bottom: 4px;
  font-size: 16px;
  line-height: 130%;
  position: relative;
  -webkit-transition: 0.3s ease all 0s;
  transition: 0.3s ease all 0s;
}

.menu__list .menu__link a::after {
  display: block;
  position: absolute;
  content: '';
  height: 1px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: #323232;
  -webkit-transition: 0.3s ease all .1s;
  transition: 0.3s ease all .1s;
}

.menu__list .menu__link a:hover::after {
  width: 100%;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.header__conect {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__conect .phone {
  display: block;
  margin-right: 55px;
  font-weight: 500;
  -webkit-transition: 0.3s ease all 0s;
  transition: 0.3s ease all 0s;
}

.header__conect .phone:hover {
  color: #DE9C39;
}

.header__conect .call-to {
  display: block;
  font-size: 16px;
  position: relative;
}

.header__conect .call-to::after {
  position: absolute;
  content: '';
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #323232;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.header__conect .call-to:hover::after {
  -webkit-transition: all 0.3s ease 0.5s;
  transition: all 0.3s ease 0.5s;
  -webkit-transform: scaleX(100%);
          transform: scaleX(100%);
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.header__conect .call-to::before {
  position: absolute;
  content: '';
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #323232;
  -webkit-transform: scaleX(100%);
          transform: scaleX(100%);
  -webkit-transform-origin: center right;
          transform-origin: center right;
}

.header__conect .call-to:hover::before {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: center right;
          transform-origin: center right;
}

.menu__icon {
  display: none;
}

/* -------------- Стили для offer ------------------------ */
.offer_body {
  background: url(../img/main.jpg);
  background-position: right;
  background-size: 700px 100%;
  background-repeat: no-repeat;
  height: 467px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 70px;
}

.offer_left-block {
  margin-right: 15px;
}

.offer_left-block h1 {
  font-size: 46px;
  line-height: 100%;
  max-width: 515px;
  margin-bottom: 40px;
}

.offer_left-block h1 span {
  color: #DE9C39;
  font-style: italic;
  font-weight: 500;
}

.offer_left-block p {
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  max-width: 256px;
  margin-left: 45%;
  margin-bottom: 45px;
}

.offer_left-block .offer_links {
  margin-left: 45%;
}

.offer_left-block .offer_links a {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  margin-right: 20px;
  position: relative;
}

.offer_left-block .offer_links a::after {
  position: absolute;
  content: '';
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #323232;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.offer_left-block .offer_links a:hover::after {
  -webkit-transition: all 0.3s ease 0.5s;
  transition: all 0.3s ease 0.5s;
  -webkit-transform: scaleX(100%);
          transform: scaleX(100%);
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.offer_left-block .offer_links a::before {
  position: absolute;
  content: '';
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #323232;
  -webkit-transform: scaleX(100%);
          transform: scaleX(100%);
  -webkit-transform-origin: center right;
          transform-origin: center right;
}

.offer_left-block .offer_links a:hover::before {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: center right;
          transform-origin: center right;
}

@media screen and (max-width: 1020px) {
  .header__conect .phone {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  /*----- Style burger menu ---------*/
  .menu__icon {
    display: block;
    z-index: 5;
    position: relative;
    width: 40px;
    height: 9px;
    cursor: pointer;
  }
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #323232;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: '';
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    top: 50%;
    -webkit-transform: rotate(45deg) translate(0px, -50%);
            transform: rotate(45deg) translate(0px, -50%);
  }
  /*----- And style burger menu ---------*/
  .menu__body {
    position: fixed;
    top: 0;
    left: -110%;
    width: 100%;
    height: 100%;
    background-color: #e4e4e4;
    opacity: 0.9;
    padding: 100px 30px 30px 30px;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__body::before {
    content: '';
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    background-color: #e4e4e4;
    z-index: 2;
  }
  .menu__list > li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px 0px 30px 0px;
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
  }
  .menu__list > li._active .menu__sub-list {
    display: block;
  }
  .menu__link {
    font-size: 24px;
  }
  .menu__sub-list {
    position: relative;
    background-color: #e4e4e4;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 20px 0px 0px -15px;
    display: none;
  }
  .menu__sub-link {
    font-size: 16px;
    color: #000;
  }
  .offer_left-block h1 {
    font-size: 30px;
    line-height: 100%;
    max-width: 330px;
    margin-bottom: 40px;
  }
  .offer_left-block p {
    margin-left: 0;
  }
  .offer_left-block .offer_links {
    margin-left: 0;
  }
}
/*# sourceMappingURL=main.css.map */